
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1491212774668'); /* IE9*/
  src: url('iconfont.eot?t=1491212774668#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1491212774668') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1491212774668') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491212774668#iconfont') format('svg'); /* iOS 4.1- */
}

.person {
  font-family:"iconfont" !important;
  font-size:27px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-person:before { content: "\e66b"; }

