
@font-face {font-family: "iconfont";
  src:
  url('iconfont.ttf?t=1490664649326') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490664649326#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont-fanhui {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  color: #086929;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before { content: "\e621"; }

